:root {
    --background-color: #E5E5E5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

.output_text_image {
    border-radius: 5% 5% 5% 5%;
}

.output_text_output {
    visibility: hidden;
}

.output_text_copyBtn {
    visibility: hidden;
}
